Thumbs.db
src/*.bld
src/*.cmd_log
src/*.lso
src/*.ngc
src/*.ngd
src/*.twrngr
src/*.pad
src/*.par
src/*.pcf
src/*.prj
src/*.ptwx
src/*.stx
src/*.syr
src/*.twr
src/*.twx
src/*.unroutes
src/*.ut
src/*.xpi
src/*.xst
src/*.xwbt
src/*.html
src/*.ncd
src/*.map
src/*.mrp
src/*.ngm
src/_*
src/iseconfig/*
src/*.bgn
src/*.drc
src/*.msd
src/*.msk
src/*.rbb
src/*.rbd
src/*.log
src/*.xml
src/*.ngr
src/*.xrpt
src/*.csv
src/*.txt
src/*_auto_*
src/xst/*
src/ipcore_dir/*
~$*