NET "CLOCK" LOC = T9;
NET "DACCLOCK" LOC = D5;
NET "DACDATA" LOC = D6;
NET "DACLOAD" LOC = E7;
#NET "PS2C" LOC = M16;
#NET "PS2D" LOC = M15;
#NET "LEDS[0]" LOC = K12;
#NET "LEDS[1]" LOC = P14;
#NET "LEDS[2]" LOC = L12;
#NET "LEDS[3]" LOC = N14;
#NET "LEDS[4]" LOC = P13;
#NET "LEDS[5]" LOC = N12;
#NET "LEDS[6]" LOC = P12;
#NET "LEDS[7]" LOC = P11;
#NET "RESET" LOC = L14;